.app_icon{
    margin: 0px auto;
    display: block;
}
h1{
    display:inline;
    margin: 0px 9px 0px 500px;
    color: red;
}
h4{
   display:inline;
   color:lightpink;
}
.container{
    height:60vh;
    width:60%;
    margin:0px auto;
    border:2px solid black;
    background: linear-gradient(to right, orange,yellow);
    overflow-y:auto;
}
.message{
border:2px solid black;
border-radius: 4px;
width:30%;
padding:10px;
box-shadow: 2px 2px 3px ;
margin:10px 10px;
}
.left{
    float:left;
clear:both;
}
.right{
    
    float:right;
    clear:both;
}
.send{
    text-align: center;
}
#messageinput{
    width:56%;
    margin:5px 0px;
    padding:7px;
    border:1px solid black;
    border-radius: 4px;
}
.btn{
    padding:10px;
    border-radius:7px;
}
